@model List<PGS_zadanie.Models.Author>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="@Url.Action("Index", "Home")" title="Książki">
                <img alt="List View" src="~/Images/pexels-photo-300412.jpeg">
            </a>
            <h4>Książki</h4>

        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="@Url.Action("Authors", "Home")" title="Książki">
                <img alt="List View" src="~/Images/typewriter-keys-mechanically-letters.jpg">
            </a>
            <h4>Autorzy</h4>

        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="@Url.Action("Genres", "Home")" title="Książki">
                <img alt="List View" src="~/Images/genresandthemes.jpg">
            </a>
            <h4>Gatunki</h4>

        </div>

    </div>

    <h2 class="sub-header">Katalog autorów</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th><a href="@Url.Action("Authors", "Home", new { ID = 0 })">Nazwisko</a></th>
                    <th><a href="@Url.Action("Authors", "Home", new { ID = 1 })">Imię</a></th>
                    <th>Opcje</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model)
                {
                    <tr>

                        <td>@(Model.IndexOf(element)+1)</td>
                        <td>@element.Surname</td>
                        <td>@element.Name</td>
                        <td>
                            <a href="@Url.Action("AuthorDetails", "Home", new { ID = element.ID })" class="btn-default">Szczegóły</a>
                            <a href="@Url.Action("RemoveAuthor", "Data", new { ID = element.ID })" class="btn-danger">Usuń</a>
                            <a href="@Url.Action("EditAuthor", "Data", new { ID = element.ID })" class="btn-info">Edytuj</a>
                        </td>
                    </tr>
                }




            </tbody>
        </table>
    </div>
</div>